@charset "UTF-8";

body{
    background-color: #dffeff;
}

a{
    color: #004760;
    font-weight: bold;
    margin-left: 3px;
    border-radius: 5px;
    background-color: #c0dfdf;
    padding: 1px;
    text-align: center;
    text-decoration: none;
}

a:hover{
    color: #00355f;
    font-weight: bold;
    background-color: #a3c0d2;
}

a.btn{
    font-size: 18px;
    font-weight: normal;
    color: #080c2f;
    background-color: #cdcbff;
    padding: 5px;
}

a.btn:hover{
    background-color: #9a98c3;
}